/*---common wxss is in the right tab---*/
.wrapper_386{
  width:375px;
  height:23.5px;
  position: fixed;
}

/* 集合.wrapper_386 内部元素--start */

.box_1419{
  width:374.5px;
  height:23.5px;
  top:0.5px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(255, 255, 255, 1);
  font-size:16.5px;
  line-height: 150%;
}

.box_1418{
  width:7px;
  height:7px;
  left:9.5px;
  top:8.5px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(0, 0, 0, 1);
  border-radius:3.5px;
  font-size:21px;
}

.box_1417{
  width:7px;
  height:7px;
  left:18.5px;
  top:8px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(0, 0, 0, 1);
  border-radius:3.5px;
  font-size:21px;
}

.box_1416{
  width:7px;
  height:7px;
  left:28px;
  top:8px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(0, 0, 0, 1);
  border-radius:3.5px;
  font-size:21px;
}

.box_1415{
  width:7px;
  height:7px;
  left:37.5px;
  top:8px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(0, 0, 0, 1);
  border-radius:3.5px;
  font-size:21px;
}

.box_1414{
  width:7px;
  height:7px;
  left:46.5px;
  top:8px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(0, 0, 0, 1);
  border-radius:3.5px;
  font-size:21px;
}

.text_1413{
  width:51.5px;
  height:23.5px;
  left:53.5px;
  top:0.5px;
  color: rgba(0, 0, 0, 1);
  font-size:14px;
}

.image_160{
  width:17.5px;
  height:14px;
  left:105px;
  top:5px;
}

.image_160 image{
  filter: saturate(1.0) hue-rotate(0deg) brightness(0) contrast(1.0);
}

.text_1412{
  width:99.5px;
  height:23.5px;
  left:138px;
  color: rgba(0, 0, 0, 1);
  font-size:14px;
}

.text_1411{
  width:50px;
  height:23.5px;
  left:287.5px;
  color: rgba(0, 0, 0, 1);
  font-size:14px;
}

.image_159{
  width:32px;
  height:14px;
  left:333px;
  top:4.5px;
}

.image_159 image{
  filter: saturate(1.0) hue-rotate(0deg) brightness(0) contrast(1.0);
}

/* 集合.wrapper_386 内部元素--end */

.wrapper_387{
  width:375px;
  height:51.5px;
  position: fixed;
}

/* 集合.wrapper_387 内部元素--start */

.text_1420{
  width:375px;
  height:51.5px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(255, 255, 255, 1);
  font-size:17.5px;
  line-height: 150%;
}

.icon_185{
  width:28px;
  height:28px;
  left:341px;
  top:13px;
  font-size:28px;
  color: rgba(23, 24, 25, 1);
}

.icon_184{
  width:31px;
  height:31px;
  left:4px;
  top:10px;
  font-size:31px;
  color: rgba(23, 24, 25, 1);
}

.icon_194{
  width:31px;
  height:31px;
  left:4px;
  top:10px;
  font-size:31px;
  color: rgba(23, 24, 25, 1);
}

/* 集合.wrapper_387 内部元素--end */

.box_1428{
  width:177px;
  height:246px;
  left:454px;
  top:167.5px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(186, 28, 28, 1);
  border-radius:8px;
  font-size:18.5px;
  line-height: 150%;
}

.box_1427{
  width:177px;
  height:4px;
  left:453.5px;
  top:214px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(211, 64, 58, 1);
  font-size:18.5px;
  line-height: 150%;
}

.text_1426{
  width:39.5px;
  height:39.5px;
  left:522.5px;
  top:195.5px;
  color: rgba(211, 64, 58, 1);
  background-color: rgba(245, 126, 117, 1);
  border-radius:20px;
  font-size:16px;
  line-height: 150%;
}

.text_1433{
  width:327px;
  height:47px;
  left:24.5px;
  top:486.5px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(186, 28, 28, 1);
  box-shadow:1px solid rgba(0, 0, 0, 0.2);
  border-radius:6px;
  font-size:19px;
  line-height: 150%;
}

.text_1434{
  width:340px;
  height:27px;
  left:19px;
  top:71.5px;
  color: rgba(0, 0, 0, 1);
  font-size:17.5px;
  line-height: 150%;
}

.text_3233{
  width:103.5px;
  height:32.5px;
  left:98.5px;
  top:577.5px;
  color: rgba(80, 80, 80, 1);
  font-size:11px;
  line-height: 150%;
}

.text_3234{
  width:103.5px;
  height:31.5px;
  left:174.5px;
  top:577.5px;
  color: rgba(80, 80, 80, 1);
  font-size:11px;
  line-height: 150%;
}

.box_3235{
  width:1px;
  height:16.5px;
  left:186.5px;
  top:587px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(153, 153, 153, 1);
  font-size:16.5px;
  line-height: 150%;
}

.text_3236{
  width:103.5px;
  height:31.5px;
  left:135px;
  top:602.5px;
  color: rgba(80, 80, 80, 1);
  font-size:10.5px;
  line-height: 150%;
}

.text_3237{
  width:103px;
  height:29.5px;
  left:135px;
  top:539px;
  color: rgba(42, 130, 228, 1);
  font-size:16.5px;
  line-height: 150%;
}

.image_698{
  width:193.5px;
  height:290.5px;
  left:91.5px;
  top:151px;
}

.text_1425{
  width:177px;
  height:96px;
  left:99.5px;
  top:283.5px;
  color: rgba(255, 235, 59, 1);
  font-size:24px;
  line-height: 150%;
}

.text_3427{
  width:375px;
  height:56.5px;
  top:88px;
  color: rgba(80, 80, 80, 1);
  font-size:16.5px;
  line-height: 150%;
}

.text_3428{
  width:153.5px;
  height:56.5px;
  left:109px;
  top:379.5px;
  color: rgba(255, 195, 0, 1);
  font-size:16.5px;
  line-height: 150%;
}

.text_3429{
  width:157px;
  height:33px;
  left:473.5px;
  top:454.5px;
  color: rgba(80, 80, 80, 1);
  font-size:13px;
  line-height: 150%;
}