@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-11-03 15:35:02
 * @version $Id$
 */
/*---common wxss is in the right tab---*/
.image_717{
  width: 32rem;
  height:56.8rem;
}

.image_717 image{
  width: 32rem;
  height:56.8rem;
  top:-1px;
}

.wrapper_36{
  width:375px;
  height:23.5px;
  position: fixed;
}

/* 集合.wrapper_36 内部元素--start */

.box_112{
  width:374.5px;
  height:23.5px;
  top:0.5px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(255, 255, 255, 1);
  font-size:16.5px;
  line-height: 150%;
}

.box_111{
  width:7px;
  height:7px;
  left:9.5px;
  top:8.5px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(0, 0, 0, 1);
  border-radius:3.5px;
  font-size:21px;
}

.box_110{
  width:7px;
  height:7px;
  left:18.5px;
  top:8px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(0, 0, 0, 1);
  border-radius:3.5px;
  font-size:21px;
}

.box_109{
  width:7px;
  height:7px;
  left:28px;
  top:8px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(0, 0, 0, 1);
  border-radius:3.5px;
  font-size:21px;
}

.box_108{
  width:7px;
  height:7px;
  left:37.5px;
  top:8px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(0, 0, 0, 1);
  border-radius:3.5px;
  font-size:21px;
}

.box_107{
  width:7px;
  height:7px;
  left:46.5px;
  top:8px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(0, 0, 0, 1);
  border-radius:3.5px;
  font-size:21px;
}

.text_106{
  width:51.5px;
  height:23.5px;
  left:53.5px;
  top:0.5px;
  color: rgba(0, 0, 0, 1);
  font-size:14px;
}

.image_18{
  width:17.5px;
  height:14px;
  left:105px;
  top:5px;
}

.image_18 image{
  filter: saturate(1.0) hue-rotate(0deg) brightness(0) contrast(1.0);
}

.text_105{
  width:99.5px;
  height:23.5px;
  left:138px;
  color: rgba(0, 0, 0, 1);
  font-size:14px;
}

.text_104{
  width:50px;
  height:23.5px;
  left:287.5px;
  color: rgba(0, 0, 0, 1);
  font-size:14px;
}

.image_17{
  width:32px;
  height:14px;
  left:333px;
  top:4.5px;
}

.image_17 image{
  filter: saturate(1.0) hue-rotate(0deg) brightness(0) contrast(1.0);
}

/* 集合.wrapper_36 内部元素--end */

.wrapper_37{
  width:375px;
  height:51.5px;
  top:23.5px;
  position: fixed;
}

/* 集合.wrapper_37 内部元素--start */

.text_113{
  width:375px;
  height:51.5px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(255, 255, 255, 1);
  font-size:17.5px;
  line-height: 150%;
}

.icon_15{
  width:28px;
  height:28px;
  left:341px;
  top:13px;
  font-size:28px;
  color: rgba(23, 24, 25, 1);
}

.icon_14{
  width:31px;
  height:31px;
  left:4px;
  top:10px;
  font-size:31px;
  color: rgba(23, 24, 25, 1);
}

/* 集合.wrapper_37 内部元素--end */

.image_19{
  width:62px;
  height:62px;
  left:451px;
  top:-108px;
  border-radius:31.5px;
}

.wrapper_72{
  width:32rem;
  height: 4rem;
  top: 21.1rem;
}

/* 集合.wrapper_72 内部元素--start */

.text_212{
  height: 4rem;
  text-indent: 1.6rem;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(255, 255, 255, 1);
  font-size: 1.4rem;
  line-height: 150%;
}

.icon_30{
  position: absolute;
  left: -1rem;
  top: 0.1rem;
  font-size: 1.2rem!important;
  color: rgba(200, 200, 205, 1);
}

.box_210{
  position: absolute;
  width: 30rem;
  height:1px;
  left: 2rem;
  top: 25.2rem;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(217, 217, 217, 1);
  font-size:16.5px;
  line-height: 150%;
  z-index: 2;
}

/* 集合.wrapper_72 内部元素--end */

.wrapper_71{
  width:32rem;
  height:4rem;
  top: 25.1rem;
}

/* 集合.wrapper_71 内部元素--start */

.text_209{
  width: 100%;
  height:4.1rem;
  text-indent:1.5rem;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(255, 255, 255, 1);
  font-size: 1.6rem;
  line-height: 150%;
}

.icon_29{
  width:26px;
  height:26px;
  left:338.5px;
  top:10.5px;
  font-size:26px;
  color: rgba(200, 200, 205, 1);
}

.text_208{
  width:11rem;
  height: 4rem;
  left:18rem;
  text-align: right;
  color: rgba(80, 80, 80, 1);
  font-size:1.2rem;
  line-height: 150%;
}

.box_207{
  width: 30rem;
  height:1px;
  left: 2rem;
  top: 4rem;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(217, 217, 217, 1);
  font-size: 1.3rem;
  line-height: 150%;
}

/* 集合.wrapper_71 内部元素--end */

.wrapper_70{
  width:375px;
  height:47px;
  left:-508.5px;
  top:425.5px;
}

/* 集合.wrapper_70 内部元素--start */

.text_206{
  width:32rem;
  height: 4rem;
  text-indent:17.5px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(255, 255, 255, 1);
  font-size:16.5px;
  line-height: 150%;
}


/* 集合.wrapper_70 内部元素--end */

.text_244{
  width:99.5px;
  height:23.5px;
  left:-243.5px;
  top:23.5px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(255, 255, 255, 1);
  box-shadow:1px solid rgba(204, 204, 204, 1);
  border-radius:11.5px;
  font-size:11.5px;
  line-height: 150%;
}

.box_726{
  width:375px;
  height:123px;
  left:-491px;
  top:-138.5px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(85, 85, 85, 1);
  font-size:16.5px;
  line-height: 150%;
}

.text_725{
  width:246px;
  height:30.5px;
  left:-399.5px;
  top:-102px;
  color: rgba(255, 255, 255, 1);
  font-size:17.5px;
  line-height: 150%;
}

.icon_148{
  width:23.5px;
  height:23.5px;
  left:-153.5px;
  top:-86.5px;
  font-size:23.5px;
  color: rgba(255, 255, 255, 1);
}

.box_724{
  width:58.5px;
  height:58.5px;
  left:-467.5px;
  top:-104.5px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(181, 181, 181, 1);
  border-radius:29.5px;
  font-size:16.5px;
  line-height: 150%;
}

.text_723{
  width:246px;
  height:23.5px;
  left:-399.5px;
  top:-69px;
  color: rgba(255, 255, 255, 1);
  font-size:13px;
  line-height: 150%;
}

.wrapper_206{
  width: 32rem;
  height: 6.2rem;
  top:15rem;
  background-color: rgba(255, 255, 255, 1);
}

/* 集合.wrapper_206 内部元素--start */

.wrapper_209{
  width:10.66rem;
  height:6.2rem;
}

/* 集合.wrapper_209 内部元素--start */

.text_732{
  width: 11rem;
  height: 2rem;
  top:40px;
  color: rgba(80, 80, 80, 1);
  font-size: 1.1rem;
  line-height: 150%;
}

.text_731{
  width: 11rem;
  height: 3.5rem;
  top: 0.9rem;
  color: rgba(80, 80, 80, 1);
  font-size: 1.6rem;
  line-height: 150%;
}

/* 集合.wrapper_209 内部元素--end */

.wrapper_208{
  width: 10.66rem;
  height: 6.2rem;
  left: 10.66rem;
}

/* 集合.wrapper_208 内部元素--start */

.text_730{
  width: 11rem;
  height: 2rem;
  top:40px;
  color: rgba(80, 80, 80, 1);
  font-size:1.1rem;
  line-height: 150%;
}

.text_729{
  width: 11rem;
  height: 2.5rem;
  top: 1rem;
  color: rgba(80, 80, 80, 1);
  font-size: 1.6rem;
  line-height: 150%;
}

/* 集合.wrapper_208 内部元素--end */

.wrapper_207{
  width: 10.66rem;
  height:6.2rem;
  left: 21.32rem;
}

/* 集合.wrapper_207 内部元素--start */

.text_728{
  width: 10.66rem;
  height: 2.5rem;
  top: 3.5rem;
  color: rgba(80, 80, 80, 1);
  font-size:1.1rem;
  line-height: 150%;
}

.text_727{
  width: 10.66rem;
  height: 2.5rem;
  top: 1rem;
  color: rgba(80, 80, 80, 1);
  font-size:1.6rem;
  line-height: 150%;
}

/* 集合.wrapper_207 内部元素--end */

/* 集合.wrapper_206 内部元素--end */

.image_63{
  width:62px;
  height:62px;
  left:-468.5px;
  top:-106.5px;
  border-radius:31.5px;
}


.text_832{
  width:105.5px;
  height:37.5px;
  left:-409px;
  top:628px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 153, 0, 1);
  border-radius:7px;
  font-size:14px;
  line-height: 150%;
}

.text_833{
  width:32rem;
  height:2.6rem;
  top: 7.5rem;
  color: rgba(56, 56, 56, 1);
  font-size: 1rem;

  line-height: 150%;
}

.text_835{
  width:105.5px;
  height:37.5px;
  left:-268.5px;
  top:628px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 0, 0, 1);
  border-radius:7px;
  font-size:14px;
  line-height: 150%;
}


/* 集合.wrapper_313 内部元素--start */

.wrapper_315{
  width:66.5px;
  height:84px;
  left:51px;
  top:13.5px;
  -webkit-transform: rotate(12deg);
  transform: rotate(12deg);
}

/* 集合.wrapper_315 内部元素--start */

.box_1135{
  width:66px;
  height:84px;
  left:0px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(236, 85, 73, 1);
  border-radius:3.5px;
  font-size:7.5px;
  line-height: 150%;
}

.box_1134{
  width:66.5px;
  height:18.5px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(223, 77, 71, 1);
  border-radius:3.5px;
  font-size:7.5px;
  line-height: 150%;
}

.box_1133{
  width:58px;
  height:12px;
  left:4px;
  top:6.5px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(255, 255, 255, 1);
  border-radius:2.5px;
  font-size:7.5px;
  line-height: 150%;
}

/* 集合.wrapper_315 内部元素--end */

.wrapper_314{
  width:73px;
  height:101px;
  top:16.5px;
  -webkit-transform: rotate(-8deg);
  transform: rotate(-8deg);
  box-shadow: 0 0.063rem 0.063rem 0rem rgba(0,0,0,.5);
}

/* 集合.wrapper_314 内部元素--start */

.box_1132{
  width:73px;
  height:101.5px;
  left:0px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(236, 85, 73, 1);
  border-radius:3.5px;
  font-size:7.5px;
  line-height: 150%;
}

.box_1131{
  width:73px;
  height:1.5px;
  top:19px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(211, 64, 58, 1);
  font-size:7.5px;
  line-height: 150%;
}

.text_1130{
  width:16.5px;
  height:16.5px;
  left:28.5px;
  top:11.5px;
  color: rgba(211, 64, 58, 1);
  background-color: rgba(245, 126, 117, 1);
  border-radius:8px;
  font-size:6.5px;
  line-height: 150%;
}

.text_1129{
  width:73px;
  height:80.5px;
  top:20.5px;
  color: rgba(255, 232, 216, 1);
  font-size:10px;
  line-height: 150%;
}

/* 集合.wrapper_314 内部元素--end */

/* 集合.wrapper_313 内部元素--end */


.text_1957{
  height:24.5px;
  left:-419.5px;
  top:218px;
  color: rgba(153, 153, 153, 1);
  font-size:13px;
  line-height: 150%;
}

.text_1958{
  width:212px;
  height:24.5px;
  left:-418.5px;
  top:374px;
  opacity: 0.6;
  color: rgba(47, 52, 83, 1);
  font-size:12px;
  line-height: 150%;
}


.text_1962{
  width:88px;
  height:88px;
  left:-221.5px;
  top:268.5px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(225, 52, 52, 1);
  border-radius:44.5px;
  font-size:13px;
  line-height: 150%;
}

/* 集合.wrapper_184 内部元素--start */

.image_31{
  width:23.5px;
  height:23.5px;
  left:33px;
  border-radius:11.5px;
}

.image_31 image{
  width:35px;
  height:23.5px;
  left:-6px;
}

.image_32{
  width:23.5px;
  height:23.5px;
  left:67px;
  border-radius:11.5px;
}

.image_33{
  width:23.5px;
  height:23.5px;
  border-radius:11.5px;
}

/* 集合.wrapper_184 内部元素--end */

.image_36{
  width:5.3rem;
  height:5.3rem;
  left:50%;
  transform: translate(-50%,0);
  top: 3.2rem;
  border-radius:31.5px;
}

.text_2008{
  width:20rem;
  height:3rem;
  left: 50%;
  transform: translate(-50%,0);
  top: 9.5rem;
  color: rgba(255, 255, 255, 1);
  font-size: 1.6rem;
  line-height: 150%;
}

.text_2009{
  width:23rem;
  height:2.3rem;
  left: 50%;
  transform: translate(-50%,0);
  top:12.5rem;
  color: rgba(255, 255, 255, 1);
  font-size:1.2rem;
  line-height: 150%;
}


.wrapper_961{
  width:136px;
  height:102px;
  left:-354px;
  top:504px;
}

/* 集合.wrapper_961 内部元素--start */

.box_2016{
  width:136px;
  height:102px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(236, 85, 73, 1);
  border-radius:7px;
  font-size:15.5px;
  line-height: 150%;
}

.box_2015{
  width:136px;
  height:28.5px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(223, 77, 71, 1);
  border-radius:7px;
  font-size:15.5px;
  line-height: 150%;
}

.box_2012{
  width:109px;
  height:2.5px;
  left:13px;
  top:27px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(211, 64, 58, 1);
  font-size:11.5px;
  line-height: 150%;
}

.text_2011{
  width:24.5px;
  height:24.5px;
  left:55px;
  top:15px;
  color: rgba(211, 64, 58, 1);
  background-color: rgba(245, 126, 117, 1);
  border-radius:13px;
  font-size:9.5px;
  line-height: 150%;
}

.text_834{
  width:106.5px;
  height:38px;
  left:16.5px;
  top:49px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(212, 48, 48, 1);
  font-size:14px;
  line-height: 150%;
}

/* 集合.wrapper_961 内部元素--end */




/* 集合.wrapper_961 内部元素--end */