@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-11-03 16:07:22
 * @version $Id$
 */
/*---common wxss is in the right tab---*/
/*---common wxss is in the right tab---*/
/* 集合.wrapper_283 内部元素--start */

.box_1049{
  width:374.5px;
  height:23.5px;
  top:0.5px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(255, 255, 255, 1);
  font-size:16.5px;
  line-height: 150%;
}

.box_1048{
  width:7px;
  height:7px;
  left:9.5px;
  top:8.5px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(0, 0, 0, 1);
  border-radius:3.5px;
  font-size:21px;
}

.box_1047{
  width:7px;
  height:7px;
  left:18.5px;
  top:8px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(0, 0, 0, 1);
  border-radius:3.5px;
  font-size:21px;
}

.box_1046{
  width:7px;
  height:7px;
  left:28px;
  top:8px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(0, 0, 0, 1);
  border-radius:3.5px;
  font-size:21px;
}

.box_1045{
  width:7px;
  height:7px;
  left:37.5px;
  top:8px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(0, 0, 0, 1);
  border-radius:3.5px;
  font-size:21px;
}

.box_1044{
  width:7px;
  height:7px;
  left:46.5px;
  top:8px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(0, 0, 0, 1);
  border-radius:3.5px;
  font-size:21px;
}

.text_1043{
  width:51.5px;
  height:23.5px;
  left:53.5px;
  top:0.5px;
  color: rgba(0, 0, 0, 1);
  font-size:14px;
}

.image_111{
  width:17.5px;
  height:14px;
  left:105px;
  top:5px;
}

.image_111 image{
  filter: saturate(1.0) hue-rotate(0deg) brightness(0) contrast(1.0);
}

.text_1042{
  width:99.5px;
  height:23.5px;
  left:138px;
  color: rgba(0, 0, 0, 1);
  font-size:14px;
}

.text_1041{
  width:50px;
  height:23.5px;
  left:287.5px;
  color: rgba(0, 0, 0, 1);
  font-size:14px;
}

.image_110{
  width:32px;
  height:14px;
  left:333px;
  top:4.5px;
}

.image_110 image{
  filter: saturate(1.0) hue-rotate(0deg) brightness(0) contrast(1.0);
}

/* 集合.wrapper_283 内部元素--end */

.wrapper_284{
  width:375px;
  height:51.5px;
  position: fixed;
}

/* 集合.wrapper_284 内部元素--start */

.text_1050{
  width:375px;
  height:51.5px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(255, 255, 255, 1);
  font-size:17.5px;
  line-height: 150%;
}

.icon_175{
  width:28px;
  height:28px;
  left:341px;
  top:13px;
  font-size:28px;
  color: rgba(23, 24, 25, 1);
}

.icon_193{
  width:31px;
  height:31px;
  left:4px;
  top:10px;
  font-size:31px;
  color: rgba(23, 24, 25, 1);
}

/* 集合.wrapper_284 内部元素--end */

.text_1266{
  width:103.5px;
  height:32.5px;
  left:98.5px;
  top:601px;
  color: rgba(80, 80, 80, 1);
  font-size:11px;
  line-height: 150%;
}

.text_1265{
  width:103.5px;
  height:31.5px;
  left:174.5px;
  top:601px;
  color: rgba(80, 80, 80, 1);
  font-size:11px;
  line-height: 150%;
}

.box_1264{
  width:1px;
  height:16.5px;
  left:186.5px;
  top:610.5px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(153, 153, 153, 1);
  font-size:16.5px;
  line-height: 150%;
}

.text_1263{
  width:103.5px;
  height:31.5px;
  left:135px;
  top:626px;
  color: rgba(80, 80, 80, 1);
  font-size:10.5px;
  line-height: 150%;
}

.box_1326{
  width:144px;
  height:200.5px;
  left:-355px;
  top:409px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(186, 28, 28, 1);
  border-radius:7px;
  font-size:15px;
  line-height: 150%;
}

.box_1325{
  width:144.5px;
  height:3px;
  left:-355px;
  top:447px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(211, 64, 58, 1);
  font-size:15px;
  line-height: 150%;
}

.text_1324{
  width:32.5px;
  height:32.5px;
  left:-299px;
  top:432px;
  color: rgba(211, 64, 58, 1);
  background-color: rgba(245, 126, 117, 1);
  border-radius:16.5px;
  font-size:13px;
  line-height: 150%;
}

.box_1365{
  width:127px;
  height:88px;
  left:470px;
  top:47px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(212, 48, 48, 1);
  border-radius:6px;
  font-size:13.5px;
  line-height: 150%;
}

.box_1364{
  width:127.5px;
  height:3px;
  left:470px;
  top:88.5px;
  color: rgba(80, 80, 80, 1);
  background-color: rgba(211, 64, 58, 1);
  font-size:13.5px;
  line-height: 150%;
}

.text_1363{
  width:28.5px;
  height:28.5px;
  left:519.5px;
  top:75.5px;
  color: rgba(211, 64, 58, 1);
  background-color: rgba(245, 126, 117, 1);
  border-radius:15px;
  font-size:11.5px;
  line-height: 150%;
}

.icon_183{
  
  left:169px;
  top:248.5px;
  font-size: 35px !important;
  color: rgba(128, 128, 128, 1);
}
.icon-add:before{
  width:55px;
  height:55px;

}

.text_1409{
  width:340px;
  height:47px;
  left:17.5px;
  top:510px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(186, 28, 28, 1);
  box-shadow:1px solid rgba(0, 0, 0, 0.2);
  border-radius:6px;
  font-size:19px;
  line-height: 150%;
}

.text_2056{
  width:103px;
  height:29.5px;
  left:135px;
  top:562.5px;
  color: rgba(42, 130, 228, 1);
  font-size:16.5px;
  line-height: 150%;
}

.text_3249{
  width:103px;
  height:29.5px;
  left:254.5px;
  top:385.5px;
  color: rgba(255, 87, 51, 1);
  font-size:16.5px;
  line-height: 150%;
}

.text_3401{
  width:103px;
  height:29.5px;
  left:254.5px;
  top:445.5px;
  color: rgba(255, 87, 51, 1);
  font-size:16.5px;
  line-height: 150%;
}

.text_3424{
  width:103px;
  height:29.5px;
  left:254.5px;
  top:416px;
  color: rgba(255, 87, 51, 1);
  font-size:16.5px;
  line-height: 150%;
}

.image_697{
  width:162px;
  height:243px;
  left:12.5px;
  top:115.5px;
}

.image_700{
  width:138.5px;
  height:179px;
  left:219px;
  top:163px;
}

.text_1323{
  width:144.5px;
  height:103px;
  left:22.5px;
  top:225px;
  color: rgba(255, 195, 0, 1);
  font-size:19.5px;
  line-height: 150%;
}

.text_1362{
  width:127.5px;
  height:78px;
  left:224px;
  top:183px;
  color: rgba(255, 195, 0, 1);
  font-size:17px;
  line-height: 150%;
}